/* v1.0 | 20080212 */
 /*-------------- RESET STYLE ------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
ol, ul {
	list-style: none;
}
 /*-------------- RESET STYLE ------------------ */

/*END reset style */

@font-face{
    font-family: Aharoni
    src: url('/theme/Fonts/ahronbd.ttf');
}
@font-face{
    font-family: Time
    src: url('/theme/Fonts/times.ttf');
}
body{
	background-color: #f0f0f0;
}
#main{
    width: 100%;
    height: 100%;
    direction: ltr;
    font-family: Arial;
    font-size: 12pt;
}

header{
	width: inherit;
    height: 90px;
}

nav{
    height: 40px;
    background-color:#27B060;
}

nav ul{
    padding-left: 37%;
    padding-top: 10px;
}

nav ul li{
    float: left;
    padding-right: 9%;
    
}

nav ul li a{
    color: #f0f0f0;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #ffffff;
}

#selected{
    color: #27B060;
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 13px 10px 14px 10px;
}

#notifications{
    width: 86%;
    height: 30px;
    background-color: #B02760;
    margin: 0px auto;
    padding-top: 10px;
    border-radius: 0 0 10px 10px;
}

#notifications p {
    color: #f0f0f0;
    text-align: center;
}

#uploader{
    width: 85%;
    
    border: 3px dashed #CCCCCC;
    margin: auto;
}

#uploader p{
    width: 300px;
    height: 200px;
    margin: 120px auto;
    margin-bottom: 50px;
    font-family: Aharoni;
    color: #cccccc;
    font-size: 30pt;
    text-align: center;
    line-height: 1.5;
}


.btn{
    width: 200px;
    height: 28px;
    border: 2px solid #27B060;
    margin: auto;
    margin-bottom: 90px;
    padding-top: 12px;
    color: #27B060;
}

.btn:hover{
    background-color: #27B060;
    color: #f0f0f0;
    border: 2px solid #f0f0f0;
}

.btn h6{
    margin-top: -29px;
    font-size: 12pt;
    color:inherit;
    text-align: center;
}

.btn h5{
    
    font-size: 12pt;
    color:inherit;
    text-align: center;
}

#fileInput{
    width: 200px;
    height: 28px;
    margin: auto;
    padding-top: 12px;
    margin-top: -12px;
    opacity: 0;
}


.output{
    width: 80%;
    margin: auto auto 5px auto;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    line-height: 2;
    font-weight: bold;
}
.output h5{
    display: inline;
    font-weight: normal;
}

.output h5:hover{
    border: 3px solid #ffffff;
    background-color: #ffffff;
    font-size: 12pt;
}

footer{
    width: inherit;
    height: 30px;
    position:static;
    margin-bottom: 10px;
}

footer p{
    padding-top: 15px;
    text-align: center;
    font-size: 10pt;
}

/* STYLES FOR CONTACT PAGE */

#formContact{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    font-family: Time;
    font-size: 11pt;
}

::-webkit-input-placeholder{
    color: #666666;
    font-family: Time;
    font-size: 12pt;
}
:-moz-placeholder{
    color: #666666;
    font-family: Time;
    font-size: 12pt;  /* For firefox 18- */
}
::-moz-placeholder{
    color: #666666;
    font-family: Time;
    font-size: 12pt; /*For firefox 19+ */
}
:-ms-input-placeholder{
    color: #666666;
    font-family: Time;
    font-size: 12pt;
}

.typeText{
    background-color : #ffffff;
    border: 1px solid #DCDCDC;
    width: 300px;
    height: 33px;
    padding-left: 8px;
    margin-left: 40px;
}

#message{
    width: 100%;
    height: 300px;
    background-color : #ffffff;
    border: 1px solid #DCDCDC;
    margin-top: 20px;
    padding-left: 8px;
    padding-top: 8px;
}
#send{
    width: 101%;
    height: 40px;
    margin-top: 20px;
    border: 1px double #27B060;
    background-color: #27B060;
    font-family: Time;
    color: #ffffff;
    font-size: 16pt;
}

#result{
    width: 60%;
    margin: 10px auto;
    text-align: center;
    text-decoration: underline;
}

/* STYLES FOR ABOUT PAGE */


#about{
    width: 75%;
    height: 500px;
    margin: auto;
    line-height: 1.8;
    word-wrap: break-word;
    text-align: justify;
    font-family: Time;
    font-size: 13pt;
}

/* STYLES FOR LOGIN PAGE */

#login{
    width: 24%;
    height: 350px;
    margin:80px auto;
    padding-left: 1%;
    font-family: Time;
}
#youname{
    margin:10px auto;
}
#youpass{
    margin:5px auto;
}

#youemail{
    margin:5px auto;
}

#login a{
    display: block;
    margin-top: 10px;
    font-size: 11pt;
    padding-left: 5px;
    color: #969696;
    text-decoration: none;
    font-style:oblique;
    
}

.btnSubmit{
    width: 310px;;
    height: 38px;
    margin: 50px auto;
    border: 1px double #27B060;
    background-color: #27B060;
    font-family: Time;
    color: #ffffff;
    font-size: 14pt;
}