@font-face {
    font-family: 'SimcripFont';
    src: url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Bree+Serif|Crimson+Text|Signika);
    font-weight: normal;
    font-style: normal;
}
html {
    direction: ltr;
    font-family:"tahoma", "Lucida Grande", Sans-Serif;
}
body{
    width: 100%;
    background-color: #ffffff;
}
header nav ul li{
    width: inherit;
    display: inherit;
}
header nav ul {
     width: 100%;
     list-style: none;
     display: inline;
     background-color: #888C8C;


 }
nav{
    margin: 0;
    padding: 0;
}